<div class="row ">
<div class="col-md-12 "><section class="lazy-load-box effect-slidedown" data-delay="300" data-speed="900" style="transition: all 900ms ease; opacity: 1;">
<h2>News &amp; Events</h2>
</section>
<div class="row ">
<div class="col-md-6 "><section class="lazy-load-box effect-slidefromleft" data-delay="300" data-speed="900" style="transition: all 900ms ease; opacity: 1;">
<div class="list styled custom-list ">
<ul>
<li><b><a href="./bio">24<br>
<em>june</em></a></b>Adipivitsed quduntut keserla asbordol magnam aiquam quaerats voluptdima. Veniam, quis nostru mede. Ercitationem ullam corporis suscipit laboriosam, nisis aliquid ex ea commodi consequatur?</li>
<li><b><a href="./portfolio">25<br>
<em>june</em></a></b>Veniam, quis nostru mede. Adipivitsed quduntut keserla asbordol magnam aiquam quaerats voluptdima. Ercitationem ullam corporis suscipit laboriosam, nisis odi consequatur aliquid ex ea commeras.</li>
</ul>
</div>
</section></div>
<div class="col-md-6 "><section class="lazy-load-box effect-slidefromright" data-delay="300" data-speed="900" style="transition: all 900ms ease; opacity: 1;">
<div class="list styled custom-list ">
<ul>
<li><b><a href="./contacts">26<br>
<em>june</em></a></b>Berasuis nostru mede. Lepivitsed quduntut keserlase ordol magnam aiquam quaerats voluptdima. Veniam, rcitas ionem ullam corporis suscipit liosam, nisis kiutaseras consequaliquid ex ea commodi atues.</li>
<li><b><a href="./blog">27<br>
<em>june</em></a></b>Ercitationem ullam corporis suscipit laboriosam, nisis aliquid ex ea commodi consequatur. Adipivitsed quduntut keserla asbordol magnam aiquam quaerats voluptdima. Veniam, quis nostru mede.</li>
</ul>
</div>
</section></div>
</div> <!-- .row (end) -->
<section class="lazy-load-box effect-slideup" data-delay="300" data-speed="900" style="transition: all 900ms ease; opacity: 1;">
<a href="./blog" title="More" class="btn btn-primary btn-normal btn-inline type_2" target="_self"><span>More</span></a><!-- .btn -->
</section></div>
</div>
