<div class="row">
<div class="col-md-3">
  <div class="form-group" align="center">
    <img src="../img/user.jpg" class="img-circle" alt="Cinque Terre">
  </div>
  <div class="form-group">
    <label class="form-control">Name</label>
  </div>
  <div class="form-group">
    <label class="form-control">Surname</label>
  </div>
  <div class="form-group">
    <label class="form-control">Lorem ipsum dolor amet sit</label>
  </div>
</div>
<div class="col-md-9">
  <div class="col-md-12">
    <h1 class="bold">User Calendar</h1>
  </div>
  <div class="col-md-5">
            <div class="thumbnail">
                <div class="caption">
                    <h4>Lorem Ipsum</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum elit vitae elit laoreet mattis</p>
                    <p><a href="" class="label label-danger" rel="tooltip" title="See">See</a>
                    <a href="" class="label label-default" rel="tooltip" title="Add Your Calendar">Add Your Calendar</a></p>
                </div>
                <img src="../img/promote.png" alt="...">
            </div>
      </div>
      <div class="col-md-5">
                <div class="thumbnail">
                    <div class="caption">
                        <h4>Lorem Ipsum</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum elit vitae elit laoreet mattis</p>
                        <p><a href="" class="label label-danger" rel="tooltip" title="See">See</a>
                        <a href="" class="label label-default" rel="tooltip" title="Add Your Calendar">Add Your Calendar</a></p>
                    </div>
                    <img src="../img/activity1.jpg" alt="...">
                </div>
          </div>
          <div class="col-md-5">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4>Lorem Ipsum</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum elit vitae elit laoreet mattis</p>
                            <p><a href="" class="label label-danger" rel="tooltip" title="See">See</a>
                            <a href="" class="label label-default" rel="tooltip" title="Add Your Calendar">Add Your Calendar</a></p>
                        </div>
                        <img src="../img/special.png" alt="...">
                    </div>
              </div>
              <div class="col-md-5">
                        <div class="thumbnail">
                            <div class="caption">
                                <h4>Lorem Ipsum</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elementum elit vitae elit laoreet mattis</p>
                                <p><a href="" class="label label-danger" rel="tooltip" title="See">See</a>
                                <a href="" class="label label-default" rel="tooltip" title="Add Your Calendar">Add Your Calendar</a></p>
                            </div>
                            <img src="../img/shop.png" alt="...">
                        </div>
                  </div>
</div>
</div>
<script>

$("[rel='tooltip']").tooltip();

    $('.thumbnail').hover(
        function(){
            $(this).find('.caption').slideDown(250); //.fadeIn(250)
        },
        function(){
            $(this).find('.caption').slideUp(250); //.fadeOut(205)
        }
    );
</script>














<style>
.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

</style>
